MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=app
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

NUXT_PUBLIC_API_BASE=http://127.0.0.1:8000/api/v1
